/*=======================*/

/*	Services Innerpages  */

/*=======================*/


/*Website Services Page*/

.cover_section_website {
	background-image: url('../img/services/website_cover-01.png');
	background-size: cover;
	background-position: center !important;
	background-repeat: no-repeat;
	background-attachment: fixed;
    background-position: center 0px;
    padding: 10% 6px;
}
.cover_section_website p {
	color: #7F8289;
	font-size: 17px;
}
.second_section_websitep {
	background-image: url('../img/services/services_details_bg_3-01.png');
	background-repeat: no-repeat;
    background-position: center 0px;
    padding: 80px 6px;
    background-size: cover;
    text-align: center; 
}

.second_section_websitep h1 {
	font-family: 'Montserrat-Bold';
	color: white;
	text-align: center;
	font-size: 40px;
}

.second_section_websitep img {
	width: 70%;
}

.second_section_websitep h3 {
	color: white;
}

.view_brand_guideline_s {
	background-color: #0D141C;
	padding: 40px 10px 10px;
}

.view_brand_guideline_s h1 {
	color: white;
	font-family: 'Montserrat-Bold';
	font-size: 45px;
	margin-bottom: 20px;
}

.view_brand_guideline_s p {
	color: #7F8289;
	font-size: 16px;
}

/*Branding Page*/

/*Three W's*/


.three_circles_branding {
	padding: 0px 10px;
}
.w_s_panel {
	border-left: solid 1px #ccc;
	border-right: solid 1px #ccc; 
	padding: 100px 25px;
}

.w_s_panel h3 {
    margin-top: 0px;
    font-size: 45px;
    font-family: 'Montserrat-Bold';
    color: #2A2E3A;
}

.w_s_panel p {
	margin-bottom: 0px;
}
.cover_section_branding {	
	background-image: url('../img/services/brand_cover-01.png');
	background-size: cover;
	background-position: center !important;
	background-repeat: no-repeat;
	background-attachment: fixed;
    background-position: center 0px;
    padding: 10% 6px;
}
.cover_section_branding p {
	color: #7F8289;
	font-size: 17px;
}

/*Marketing Page*/

.cover_section_marketing {	
	background-image: url('../img/services/marketing_cover-01.png');
	background-size: cover;
	background-position: center !important;
	background-repeat: no-repeat;
	background-attachment: fixed;
    background-position: center 0px;
    padding: 10% 6px;
}
.cover_section_marketing p {
	color: #7F8289;
	font-size: 17px;
}

.marketing_icons_section {
	text-align: center;
	background-color: #121A23;
	color: white;
	padding: 7% 10px;
}
.marketing_icons_section .col-md-6 {
	padding-bottom: 20px;
}
.marketing_icons_section h3 {
	font-family: 'Montserrat-Bold';
	font-size: 34px;
}
.marketing_icons_section img {
	width: 32%;
}